@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: 'SwIS';
    src: url('../fonts/swis-bold.otf') format('opentype');
}
body{
    background-color: #eee;
    color:#555;
    font-family: 'SwIS' Arial;
}
a{
    color:rgb(88,191,144);
}
.funstuff{
    margin:0 auto;
    color:#cdcdcd;
    text-align:center;
}
.container{
    margin-top:-150px;
}
.arrow{
    position:fixed;
    bottom:0;
    left:35%;
    margin:0 auto;
    width:30%;
    opacity:1;
}
.topHeader{
    font-size: 64px;
}
.tagline{
    margin-top:70px;
}
section.explain{
    margin-bottom:20px;
    padding:20px 0;
    border-top: dashed rgb(88,191,144) 3px;
    border-bottom: dashed rgb(88,191,144) 3px;
}
.hero{
    color:#888;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px -1px #222, 1px 1px #eee;
    font-size: 58px;
}
.byline{
    color:#777;
}

@media screen and (max-width: 990px) {

    body{
        text-align: justify;
    }
    .tagline{
        margin-top: 10px;
    }

}