@font-face {
    font-family: 'SwIS';
    src: url('../fonts/swis-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
body{
    background-color: #eee;
    font-family: 'SwIS' Arial;
}
.funstuff{
    color:#cdcdcd;
    text-align:center;
    margin:0 auto;
}
.container{
    margin-top:-150px;
}
.arrow{
    position:fixed;
    bottom:0;
    opacity:1;
    margin:0 auto;
    left:35%;
    width:30%;
}
header{
    border-bottom: dashed #aaa 3px;
    margin-bottom: 20px;
    position:relative;
}
.topHeader{
    font-size: 64px;
}
.tagline{
    position:absolute;
    bottom:0;
}